In [1]:
#pip install tabula
#pip install tabulate
from tabula import read_pdf
from tabulate import tabulate
import pandas as pd
import numpy as np

anio = 2022
rt = 'OPC_EDU_' + str(anio) + '.pdf'
a = read_pdf(rt,pages=1) 
a = pd.DataFrame(a[0])

# capturamos los años
anioscomp = list(a.loc[~a['LÍNEA DE CORTE'].isna(),'LÍNEA DE CORTE'])
anioscomp = anioscomp[0]
anioscomp = anioscomp.split(' ')
anioscomp = 'ACIERTOS_' + np.array(anioscomp,dtype=object)

a.columns = np.array(a.iloc[0,:])

In [174]:
colum = ['INSTITUCIÓN','NOMBRE DEL PLANTEL','DOMICILIO','ALCALDÍA / MUNICIPIO','ESPECIALIDAD']
for col in colum:
    for i in a.index:
        # i = 0
        if (~a.TIPO.isna()[i])&(a[col].isna()[i]):
            if (~a[col].isna()[i - 1])&(~a[col].isna()[i + 1]):
                a.loc[a.index == i,col] = a[col].astype(str)[i - 1] + ' ' + a[col].astype(str)[i + 1]

In [175]:
a = a[~a.TIPO.isna()].reset_index(drop = True)
a = a.drop([0],axis = 0).reset_index(drop = True)
a.columns = list(pd.DataFrame(a.columns)[0].fillna('ACIERTOS'))
a.head()

,TIPO,INSTITUCIÓN,NOMBRE DEL PLANTEL,DOMICILIO,ALCALDÍA / MUNICIPIO,CLAVE 2021,ÁREA,ESPECIALIDAD,ASPIRANTES/LUGAR,ACIERTOS
0,1,CONALEP,CONALEP ÁLVARO OBREGÓN I,"Prol. Avenida 5 de Mayo núm. 615, Col. Lomas ...",ÁLVARO OBREGÓN,C101311,NaN,Electromecánica industrial,NaN,52 51 47
1,1,CONALEP,CONALEP ÁLVARO OBREGÓN I,"Prol. Avenida 5 de Mayo núm. 615, Col. Lomas ...",ÁLVARO OBREGÓN,C101314,NaN,Hospitalidad turística,NaN,45 42 33
2,1,CONALEP,CONALEP ÁLVARO OBREGÓN I,"Prol. Avenida 5 de Mayo núm. 615, Col. Lomas ...",ÁLVARO OBREGÓN,C101328,NaN,Refrigeración y climatización,NaN,34 25 23
3,1,CONALEP,CONALEP ÁLVARO OBREGÓN I,"Prol. Avenida 5 de Mayo núm. 615, Col. Lomas ...",ÁLVARO OBREGÓN,C101337,NaN,Escenotecnia,NaN,42 37 11
4,1,CONALEP,CONALEP ÁLVARO OBREGÓN II,Av. Rómulo O'Farril s/n esq. Calzada de las Ág...,ÁLVARO OBREGÓN,C102303,NaN,Asistente directivo,NaN,39 35 21

In [176]:
#a.columns[9] = 'PUNTAJES'
aux = a.ACIERTOS.astype(str).str.split(" ",expand=True)
puntos = anioscomp
aux.columns = puntos
a = pd.concat([a, aux], axis=1)

for num in puntos:
    a[num] = a[num].astype(int)

# a.head()

In [177]:
# Intento 1
'''
for pag in range(1,31):
    # Step 1: Lectura de la página
    # pag = 1
    a = read_pdf("OPC_EDU_2022.pdf",pages = pag) 
    a = pd.DataFrame(a[0])
    
    if (len(a.columns) > 10)&(a['Unnamed: 1'].isna()[0]):
        a.loc[a.index == 0,'Unnamed: 1'] = a.loc[a.index == 0,'Unnamed: 2'].item()
        a = a.drop(['Unnamed: 2'],axis = 1)
    
    a.columns = np.array(a.iloc[0,:])
    
    # Step 2: Corrección de ubicación de las columnas
    colum = ['INSTITUCIÓN','NOMBRE DEL PLANTEL','DOMICILIO','ALCALDÍA / MUNICIPIO','ESPECIALIDAD']
    for col in colum:
        for i in a.index:
            # i = 0
            if (~a.TIPO.isna()[i])&(a[col].isna()[i]):
                if (~a[col].isna()[i - 1])&(~a[col].isna()[i + 1]):
                    a.loc[a.index == i,col] = a[col].astype(str)[i - 1] + ' ' + a[col].astype(str)[i + 1]
    
    # Step 3: Borrado de información innecesaria
    a = a[~a.TIPO.isna()].reset_index(drop = True)
    a = a.drop([0],axis = 0).reset_index(drop = True)
    a.columns = list(pd.DataFrame(a.columns)[0].fillna('ACIERTOS'))
    
    # Step 4: Separación de los puntajes
    aux = a.ACIERTOS.astype(str).str.split(" ",expand=True)
    puntos = ['ACIERTOS_2019', 'ACIERTOS_2020','ACIERTOS_2021']
    aux.columns = puntos
    a = pd.concat([a, aux], axis=1)

    for num in puntos:
        a[num] = a[num].astype(int)
'''

'\nfor pag in range(1,31):\n    # Step 1: Lectura de la página\n    # pag = 1\n    a = read_pdf("OPC_EDU_2022.pdf",pages = pag) \n    a = pd.DataFrame(a[0])\n    \n    if (len(a.columns) > 10)&(a[\'Unnamed: 1\'].isna()[0]):\n        a.loc[a.index == 0,\'Unnamed: 1\'] = a.loc[a.index == 0,\'Unnamed: 2\'].item()\n        a = a.drop([\'Unnamed: 2\'],axis = 1)\n    \n    a.columns = np.array(a.iloc[0,:])\n    \n    # Step 2: Corrección de ubicación de las columnas\n    colum = [\'INSTITUCIÓN\',\'NOMBRE DEL PLANTEL\',\'DOMICILIO\',\'ALCALDÍA / MUNICIPIO\',\'ESPECIALIDAD\']\n    for col in colum:\n        for i in a.index:\n            # i = 0\n            if (~a.TIPO.isna()[i])&(a[col].isna()[i]):\n                if (~a[col].isna()[i - 1])&(~a[col].isna()[i + 1]):\n                    a.loc[a.index == i,col] = a[col].astype(str)[i - 1] + \' \' + a[col].astype(str)[i + 1]\n    \n    # Step 3: Borrado de información innecesaria\n    a = a[~a.TIPO.isna()].reset_index(drop = True)\n    a = a.drop([0],axis = 0).reset_index(drop = True)\n    a.columns = list(pd.DataFrame(a.columns)[0].fillna(\'ACIERTOS\'))\n    \n    # Step 4: Separación de los puntajes\n    aux = a.ACIERTOS.astype(str).str.split(" ",expand=True)\n    puntos = [\'ACIERTOS_2019\', \'ACIERTOS_2020\',\'ACIERTOS_2021\']\n    aux.columns = puntos\n    a = pd.concat([a, aux], axis=1)\n\n    for num in puntos:\n        a[num] = a[num].astype(int)\n'

In [178]:
# pag

In [179]:
# Intento 2
# Step 1: Lectura de la página
pag = 12
a = read_pdf(rt,pages = pag) 
a = pd.DataFrame(a[0])

if pag == 12:
    a.loc[a.index == 0,'Unnamed: 2'] = 'NOMBRE DEL PLANTEL'
    a.loc[a.index == 0,'Unnamed: 3'] = 'DOMICILIO'

#if (len(a.columns) > 10)&(a['Unnamed: 1'].isna()[0]):
#    a.loc[a.index == 0,'Unnamed: 1'] = a.loc[a.index == 0,'Unnamed: 2'].item()
#    a = a.drop(['Unnamed: 2'],axis = 1)

for j in range(len(a.columns)-2):
    act = 'Unnamed: ' + str(j)
    fut = 'Unnamed: ' + str(j + 1)
    if not act in a.columns:
        continue
    if (len(a.columns) > 10)&(a[act].isna()[0]):
        a.loc[a.index == 0,act] = a.loc[a.index == 0,fut].item()
        a = a.drop([fut],axis = 1)

a.columns = np.array(a.iloc[0,:])

# Step 2: Corrección de ubicación de las columnas
colum = ['INSTITUCIÓN','NOMBRE DEL PLANTEL','DOMICILIO','ALCALDÍA / MUNICIPIO','ESPECIALIDAD']
for col in colum:
    for i in a.index:
        # i = 0
        if (~a.TIPO.isna()[i])&(a[col].isna()[i]):
            if (~a[col].isna()[i - 1])&(~a[col].isna()[i + 1]):
                a.loc[a.index == i,col] = a[col].astype(str)[i - 1] + ' ' + a[col].astype(str)[i + 1]

# Step 3: Borrado de información innecesaria
a = a[~a.TIPO.isna()].reset_index(drop = True)
a = a.drop([0],axis = 0).reset_index(drop = True)
a.columns = list(pd.DataFrame(a.columns)[0].fillna('ACIERTOS'))

# Step 4: Separación de los puntajes
aux = a.ACIERTOS.astype(str).str.split(" ",expand=True)
puntos = anioscomp
aux.columns = puntos
a = pd.concat([a, aux], axis=1)

for num in puntos:
    a.loc[a[num].isna(),num] = 0
    a[num] = a[num].astype(int)
    
print(a.shape)
a.sample(5)

(26, 13)

,TIPO,INSTITUCIÓN,NOMBRE DEL PLANTEL,DOMICILIO,ALCALDÍA / MUNICIPIO,CLAVE 2021,ÁREA,ESPECIALIDAD,ASPIRANTES/LUGAR,ACIERTOS,ACIERTOS_2019,ACIERTOS_2020,ACIERTOS_2021
2,3,DGETI,CENTRO DE BACHILLERATO TECNOLÓGICO Carretera a...,NaN,CUAUTITLÁN IZCALLI,D438000,NaN,"Administración de recursos humanos, Laboratori...",NaN,47 49 43,47,49,43
6,1,SE CONALEP ESTADO DE MÉXICO,CONALEP CUAUTITLÁN,NaN,CUAUTITLÁN IZCALLI,S132314,NaN,Hospitalidad turística,NaN,19 44 36,19,44,36
14,3,SE CECYTEM,TECNOLÓGICOS DEL ESTADO DE MÉXICO,NaN,CUAUTITLÁN IZCALLI,S553093,NaN,Técnico en estudios de mercado y de entornos s...,NaN,36 30 28,36,30,28
1,2,SE P. O.,PREPARATORIA OFICIAL NÚM. 223,NaN,CUAUTITLÁN,S714000,NaN,NaN,NaN,41 42 35,41,42,35
7,1,SE CONALEP ESTADO DE MÉXICO,"CONALEP ""ING. BERNARDO QUINTANA ARRIOJA"" - Av....",NaN,CUAUTITLÁN IZCALLI,S133306,NaN,Contabilidad,NaN,22 37 19,22,37,19

In [180]:
for pag in range(1,31):
    # Step 1: Lectura de la página
    # pag = 12
    a = read_pdf(rt,pages = pag) 
    a = pd.DataFrame(a[0])

    # No cumplen la regla [12,]
    if pag == 12:
        a.loc[a.index == 0,'Unnamed: 2'] = 'NOMBRE DEL PLANTEL'
        a.loc[a.index == 0,'Unnamed: 3'] = 'DOMICILIO'

    #if (len(a.columns) > 10)&(a['Unnamed: 1'].isna()[0]):
    #    a.loc[a.index == 0,'Unnamed: 1'] = a.loc[a.index == 0,'Unnamed: 2'].item()
    #    a = a.drop(['Unnamed: 2'],axis = 1)

    for j in range(len(a.columns)-2):
        act = 'Unnamed: ' + str(j)
        fut = 'Unnamed: ' + str(j + 1)
        if not act in a.columns:
            continue
        if (len(a.columns) > 10)&(a[act].isna()[0]):
            a.loc[a.index == 0,act] = a.loc[a.index == 0,fut].item()
            a = a.drop([fut],axis = 1)

    a.columns = np.array(a.iloc[0,:])

    # Step 2: Corrección de ubicación de las columnas
    colum = ['INSTITUCIÓN','NOMBRE DEL PLANTEL','DOMICILIO','ALCALDÍA / MUNICIPIO','ESPECIALIDAD']
    for col in colum:
        for i in a.index:
            # i = 0
            if (~a.TIPO.isna()[i])&(a[col].isna()[i]):
                if (~a[col].isna()[i - 1])&(~a[col].isna()[i + 1]):
                    a.loc[a.index == i,col] = a[col].astype(str)[i - 1] + ' ' + a[col].astype(str)[i + 1]

    # Step 3: Borrado de información innecesaria
    a = a[~a.TIPO.isna()].reset_index(drop = True)
    a = a.drop([0],axis = 0).reset_index(drop = True)
    a.columns = list(pd.DataFrame(a.columns)[0].fillna('ACIERTOS'))

    # Step 4: Separación de los puntajes
    aux = a.ACIERTOS.astype(str).str.split(" ",expand=True)
    puntos = anioscomp
    aux.columns = puntos
    a = pd.concat([a, aux], axis = 1)

    for num in puntos:
        a.loc[a[num].isna(),num] = 0
        a[num] = a[num].astype(int)
        
    if pag == 1:
        df = a
    else:
        df = pd.concat([df, a], axis = 0)

    print(a.shape)
    
df.to_csv('EscuelasCOMIPEMS 2022.csv',encoding = 'latin 1',index = False)

(23, 13)
(20, 13)
(18, 13)
(16, 13)
(21, 13)
(21, 13)
(19, 13)
(20, 13)
(22, 13)
(27, 13)
(27, 13)
(26, 13)
(29, 13)
(28, 13)
(30, 13)
(22, 13)
(25, 13)
(29, 13)
(27, 13)
(25, 13)
(25, 13)
(29, 13)
(26, 13)
(28, 13)
(29, 13)
(27, 13)
(26, 13)
(24, 13)
(21, 13)
(15, 13)

In [2]:
df = pd.read_csv('EscuelasCOMIPEMScorregido 2022.csv',encoding = 'latin 1')
df.sample(2)

,TIPO,INSTITUCIÓN,NOMBRE DEL PLANTEL,DOMICILIO,ALCALDÍA / MUNICIPIO,CLAVE 2021,ÁREA,ESPECIALIDAD,ASPIRANTES/LUGAR,ACIERTOS,ACIERTOS_2019,ACIERTOS_2020,ACIERTOS_2021,MEDIA
582,2,SE P. O.,PREPARATORIA OFICIAL NÚM. 171,"Av. del Rosal s/n, Col. Primavera. C.P. 56516...",LA PAZ,S832000,NaN,NaN,NaN,22 27 26,22.0,27.0,26,25.000000
503,2,SE P. O.,PREPARATORIA OFICIAL NÚM. 226,"Capulín s/n esq. Sindicalismo, Barrio Alfarero...",CHIMALHUACÁN,S748000,NaN,NaN,NaN,26 28 29,26.0,28.0,29,27.666667

In [3]:
EleKarla = ['S143306','S272000','U615000','I508100','B001000','B005000','D435000','I502100','I511100','B018000']

Chidas = df[df['CLAVE 2021'].isin(EleKarla)].reset_index(drop = True)
Chidas.loc[Chidas['CLAVE 2021'] == 'U615000','MEDIA'] = Chidas.loc[Chidas['CLAVE 2021'] == 'U615000','MEDIA'].item() + 1
Chidas = Chidas.sort_values('MEDIA',ascending = False).reset_index(drop = True)
Chidas[['TIPO', 'INSTITUCIÓN', 'NOMBRE DEL PLANTEL', 'CLAVE 2021', 'MEDIA']]
Chidas[['NOMBRE DEL PLANTEL', 'CLAVE 2021','ACIERTOS_2019','ACIERTOS_2020','ACIERTOS_2021', 'MEDIA']]

,NOMBRE DEL PLANTEL,CLAVE 2021,ACIERTOS_2019,ACIERTOS_2020,ACIERTOS_2021,MEDIA
0,"COLEGIO DE CIENCIAS Y HUMANIDADES, PLANTEL NAU...",U615000,88.0,88.0,87,88.666667
1,CENTRO DE ESTUDIOS CIENTÍFICOS Y TECNOLÓGICOS ...,I502100,89.0,88.0,86,87.666667
2,CENTRO DE ESTUDIOS CIENTÍFICOS Y TECNOLÓGICOS ...,I508100,86.0,85.0,83,84.666667
3,"TECNOLÓGICOS (CECyT 11) ""WILFRIDO",I511100,84.0,83.0,80,82.333333
4,"PLANTEL 5, ""SATÉLITE""",B005000,64.0,64.0,60,62.666667
5,"PLANTEL 1, ""EL ROSARIO""",B001000,64.0,63.0,57,61.333333
6,"PLANTEL 18, ""TLILHUACA AZCAPOTZALCO""",B018000,58.0,57.0,49,54.666667
7,"TELEBACHILLERATO COMUNITARIO NÚM. 145, LAS HUE...",S272000,52.0,54.0,48,51.333333
8,CONALEP NAUCALPAN I,S143306,44.0,43.0,48,45.000000
9,CENTRO DE ESTUDIOS TECNOLÓGICOS INDUSTRIAL Y D...,D435000,44.0,43.0,36,41.000000

In [4]:
inte = pd.DataFrame(df.value_counts('ALCALDÍA / MUNICIPIO'))
inte = inte.reset_index()
inte = inte.rename(columns = {0:'NoEsc'})
inte.shape

(38, 2)

In [5]:
operacion = ['min','max','mean','median']
for ope in operacion:
    aux = df.groupby(['ALCALDÍA / MUNICIPIO']).agg({'MEDIA':ope}).reset_index()
    inte = pd.merge(inte,aux,on = 'ALCALDÍA / MUNICIPIO',how = 'left')
    inte = inte.rename(columns = {'MEDIA':ope})
print(inte.shape)
inte.sample(5)

(38, 6)

   ALCALDÍA / MUNICIPIO  NoEsc        min        max       mean     median
27           CUAUTITLÁN      9  39.333333  71.666667  55.518519  52.000000
20              ACOLMAN     13  23.666667  58.000000  42.153846  43.000000
8                CHALCO     29  17.333333  76.000000  42.333333  39.000000
34           CUAUHTÉMOC      6  41.000000  91.000000  64.500000  63.000000
12  NAUCALPAN DE JUÁREZ     22  23.000000  87.666667  52.803030  51.833333

In [6]:
TopPunta = df.groupby(['INSTITUCIÓN']).agg({'MEDIA':'mean'}).reset_index()
TopPunta = TopPunta.sort_values('MEDIA',ascending = False).reset_index(drop = True)
EscInt = TopPunta[TopPunta.index.isin(range(3))]

In [7]:
tabla1 = df.groupby(['ALCALDÍA / MUNICIPIO','INSTITUCIÓN']).agg({'ALCALDÍA / MUNICIPIO':'count'})#.reset_index(drop = True)
tabla2 = df.groupby(['ALCALDÍA / MUNICIPIO','INSTITUCIÓN']).agg({'ALCALDÍA / MUNICIPIO':'count'}).reset_index(drop = True)
tabla2.columns = ['NoEsc']
tabla2['ALCALDÍA / MUNICIPIO'] = ''
tabla2['INSTITUCIÓN'] = ''
for i in tabla2.index:
    #i = 0
    (a1,b1) = tabla1.index[i]
    tabla2.loc[tabla2.index == i,'ALCALDÍA / MUNICIPIO'] = a1
    tabla2.loc[tabla2.index == i,'INSTITUCIÓN'] = b1
tabla2 = tabla2[['ALCALDÍA / MUNICIPIO','INSTITUCIÓN','NoEsc']]

for esc in EscInt['INSTITUCIÓN']:
    inte[esc] = ''

for i in inte.index:
    lug = inte['ALCALDÍA / MUNICIPIO'][i]
    for esc in EscInt['INSTITUCIÓN']:
        can = tabla2[(tabla2['ALCALDÍA / MUNICIPIO'] == lug)&(tabla2['INSTITUCIÓN'] == esc)]['NoEsc'].sum()
        inte.loc[inte.index == i,esc] = can
inte.sample(5)
#pd.cut(df.MEDIA,bins = [0,10,20,30,40,50,60,70,80,90,100,128],right = False)

,ALCALDÍA / MUNICIPIO,NoEsc,min,max,mean,median,UNAM,UAEM,I.P.N.
19,TULTITLÁN,15,21.000000,58.666667,41.422222,48.0,0,0,0
4,TEXCOCO,36,20.666667,90.666667,40.902778,37.5,0,1,0
9,TLALNEPANTLA,29,20.000000,66.333333,34.316092,30.0,0,0,0
3,TECÁMAC,38,14.666667,78.000000,46.368421,48.0,0,0,1
18,HUIXQUILUCAN,15,22.333333,55.666667,35.777778,34.0,0,0,0

In [16]:
inte = inte.sort_values('mean',ascending = False).reset_index(drop = True)
MAXE = inte[['UNAM','UAEM','I.P.N.']].sum(axis = 1).max()
ind = inte[['UNAM','UAEM','I.P.N.']].sum(axis = 1) >= 1#MAXE
inte[ind]
inte.sort_values('NoEsc',ascending = False).reset_index(drop = True)
inte.head(10)

,ALCALDÍA / MUNICIPIO,NoEsc,min,max,mean,median,UNAM,UAEM,I.P.N.,RANGE
0,COYOACÁN,9,59.666667,113.333333,79.629630,74.000000,2,0,1,53.666667
1,MIGUEL HIDALGO,7,30.666667,104.666667,71.904762,82.333333,1,0,3,74.000000
2,BENITO JUÁREZ,2,51.333333,85.000000,68.166667,68.166667,0,0,0,33.666667
3,CUAUHTÉMOC,6,41.000000,91.000000,64.500000,63.000000,0,0,2,50.000000
4,TLALPAN,7,43.333333,106.000000,59.619048,52.666667,1,0,0,62.666667
5,CUAUTITLÁN,9,39.333333,71.666667,55.518519,52.000000,0,0,0,32.333333
6,XOCHIMILCO,9,41.333333,103.000000,53.925926,43.666667,1,0,0,61.666667
7,MILPA ALTA,7,39.333333,89.333333,53.857143,43.666667,0,0,1,50.000000
8,NAUCALPAN DE JUÁREZ,22,23.000000,87.666667,52.803030,51.833333,1,0,0,64.666667
9,COACALCO,18,29.000000,90.666667,52.722222,51.666667,0,0,0,61.666667

In [15]:
RANGE = inte['max'] - inte['min']
ind = RANGE == max(RANGE)
inte[ind]

,ALCALDÍA / MUNICIPIO,NoEsc,min,max,mean,median,UNAM,UAEM,I.P.N.,RANGE
12,GUSTAVO A. MADERO,30,17.666667,110.0,47.355556,37.333333,3,0,3,92.333333

In [190]:
'''
df.groupby(['ALCALDÍA / MUNICIPIO']).agg({'ALCALDÍA / MUNICIPIO':'count',
                                       'MEDIA':'min',
                                       'MEDIA':'max',
                                       'MEDIA':'mean',
                                       'MEDIA':'median'}).reset_index(drop = True)
'''

"\ndf.groupby(['ALCALDÍA / MUNICIPIO']).agg({'ALCALDÍA / MUNICIPIO':'count',\n                                       'MEDIA':'min',\n                                       'MEDIA':'max',\n                                       'MEDIA':'mean',\n                                       'MEDIA':'median'}).reset_index(drop = True)\n"